<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCecwNz_YbX2KXqIdO_2fAow1VcZwaUEaw</string>
	<key>GCM_SENDER_ID</key>
	<string>299615867689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chris.foodtinder</string>
	<key>PROJECT_ID</key>
	<string>mealswipe-1ec37</string>
	<key>STORAGE_BUCKET</key>
	<string>mealswipe-1ec37.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299615867689:ios:c7f2d097496d235f0cdd38</string>
</dict>
</plist>